{% extends 'menu.html' %}



{% block content %}

    <h1> Tarefas </h1>

    <ul>

        {% for task in tasks %}
           
            <li>
                
                <a href="{% url 'task_detalhe'  task.id %}">


                            <br>
                    {% if task.important %}

                        <strong> {{task.title}} </strong>
                        
                        <br>

                        <p> {{task.describe}} </p>

                    {% else %}


                        <li>{{task.title}}</li>

                    

                        <p> {{ task.describe}}</p>

                        

                    {% endif %} 


                </a>

            </li>    
            

        {% endfor %}

    </ul>

{% endblock %}